

#title{
  background-color: #ff4c68;
font-family: "Montserat";
color:white
}
.container-fluid{

    padding:3% 15%;


}

body{

}
h1{
  font-family: "Montserrat-Black", sans-serif;
font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.5;
}
h3{
  font-family:"Montserrat-bold"
  font-size:1.5rem;

}
p{
  color: #8f8f8f;
}
.navbar{
  padding-bottom:0,0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu",sans-serif;
font-size: 2.5rem;
font-weight: bold;

}
nav-item{
  padding:0 18px;
}
nav-link{
  font-size:1.2rem;
  font-family: "Montserat-light";
}

.download-button{
margin:  5% 3% 5% 0%;
}
.title-image{
  width:60%;
  transform:rotate(25deg);

}

.icon{
  color:#ef8172;
margin-bottom: 1rem;
}
.icon2{
  color:#ef8172;
margin-bottom: 1rem;
}
.icon3{
  color:#ef8172;
margin-bottom: 1rem;
}
.icon:hover{
color: #ff4c68;

}
.icon2:hover{

color: #ff4c68;

  }
.icon3:hover{
color:  #ff4c68;

}


.div1{
  text-align: center;
}
.div2{
  text-align: center;
}
.div3{
  text-align: center;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin:20px;
}
.change{
  margin-top: 45px;
}
.Find{
  font-family: "Montserrat-Black";
  font-size:3.5rem;
  line-height: 1.5;
color: white;
}
.jaw{

padding-top: 150px;
  background-color:#ff4c68;
text-align: center;
margin-bottom: 145px;

}
.last{
  background-color:white;
  text-align: center;
  padding: 24px;
}
#main{
  margin-top: 7%;
}

#testimonials{
  padding: 9% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
#press{
  background-color: #ff4c68;
text-align: center;
padding-bottom: 3%;
}
#raw{
  text-align: center;
  margin-left: 10px;
}
.press-logo{
  width:15%;
  margin:20px,20px,50px;
}
.pricing-colums {
  padding: 3% 2%;
}
.img1{
  margin-right: 4px;
}
.img3{
  margin-left: 4px;

}
.img4{
  margin-left: 4px;

}
.form2{
margin-left:160px;
position: relative;
top: -99px;
}
#features{
background-color: white;

}
#pricing{
  padding: 100px;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}
